/*keep these the same*/
.col-sm-12 {
	padding-right: 0px;
}

.col-2 {
	padding-left: 0px;
}

.nav a {
	font-size: 18px;
	color: inherit;
}

.nav a:hover {
	color: #4E5D6C;
}

.intro a:hover, .projects h2:hover {
	color: #DF691A;
	font-weight: bold;
}

aside h1 {
	animation-name: exampleC;
    animation-duration: 5s;
    animation-iteration-count: 3;
}

@keyframes exampleC {
    from {color: orange;}
    to {color: white;}
}

h1 {
	font-family: serif;
	font-size: 30px;
	text-align: center;
}

/*works for viewport that is 400-767px in width*/
.container-fluid {
	margin-bottom: 100px;
	padding-left: 0px;
}

.page-header h1{
	font-size: 40px;
}

.nav li {
	margin-left:auto;
   	margin-right:auto;
}

.intro, .projects, .contact {
	margin-left: auto;
	margin-right: auto;
}

.profile {
	width: 100%;
	padding-bottom: 20px;
}

.intro h1 {
	margin-bottom: 20px;
	text-align: center;
}

.intro p {
	font-size: 16px;
}

aside h1 {
	margin-top: 30px;
	margin-bottom: 20px;
}

.icon {
	width: 60px;
	margin: 0px;
}

.icon:hover {
	position: relative;
	bottom: 5px;
}

.project-pics img {
	width: 95%;
	border-radius: 5%;
	border: ridge 10px #EBEBEB;
	margin-top: 20px;
}

.projects h2 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;	
}

.gif {
	height: 75%;
}

label {
	font-size: 16px;
	margin-top: 20px;
}

.contact input, textarea {
	background-color:#EBEBEB;
	color: black;	
	width: 98%;
}

.btn {
	margin-top: 10px;
	font-size: 13px;
	height: 24px;
	font-weight: bold;
}

button:active {
	font-size: 15px;
	height: 26px;
}

footer {
	background: #EBEBEB;
	padding-top: 8px;
	color: #4E5D6C;
	text-align: center;
	position: fixed;
	bottom: 0px;
	left:0px;
	width: 100%;
	font-size: 14px;
	height: 48px;
	opacity: 0.8;
	border-top: 10px solid #DF691A;
}


/*add media queries for responsive design*/

@media only screen and (min-width: 768px) { 
	.icon {
		position: relative;
	}

	.stackO {
		right: 30px;
	}

	.github{
		right: 5px;
	}
	.linkedin {
		left: 20px;
	}
	
	.col-md-8 h1 {
		text-align: left;
	}
 }


@media (min-width: 980px) { 
	.profile {
		float:left;
		width: 50%;
		margin-right: 10px;
		padding-bottom: 0px;
	}
	
	.nav {
		position: relative;
		top: 6px;
	}

	.page-header h1 {
		font-size: 45px;
	}
	
	.intro, .projects, .contact {
		padding-left: 40px;
	}

	.intro h1 {
		font-size: 32px;
	}
	.intro p {
		font-size: 18px;
	}

}

@media (min-width: 1200px) { 

	.intro, .projects, .contact {
		padding-left: 100px;
		padding-right: 50px;
	}

}




















